<div>
  <label>Ticket Type:</label>
  <%= f.text_field :name %>
</div>
<div>
  <label>Cost per Ticket:</label>
  <%= f.text_field :cost_per_ticket, :size => 8 %>
</div>
<div>
  <label>Qty:</label>
  <%= f.text_field :quantity, :size => 3 %>
</div>
