<div id="wide">
	<h1>User Log-In</h1>
	<p>Before you can begin creating events, you must log in to your Admiteer account. If you do not have an Admiteer account, you can <a href="/signup">get one here</a>.</p>
	
  <%= render :partial => 'form' %>
</div>
