<% title "Thank You for Purchasing" %>

<div id="wide">
  <h1><%= yield(:title) %></h1>
  <p>
    You have just purchased <strong><%= pluralize @purchase.tickets.count, 'ticket' %></strong> to <strong><%=h @purchase.event.name %></strong>! Click the link below to access the PDF file for printing them out. They'll also be available for download and printing any time from your dashboard.
  </p>
  <p class="t-center big alt outlined">
    <%= link_to "Print Tickets (PDF)", formatted_purchase_path(@purchase, 'pdf'), :class => 'big' %>
  </p>
  <p>
    <a href="http://www.adobe.com/products/acrobat/readstep2.html"><img src="/images/adobe_reader.gif" width="88" height="31" alt="Adobe Reader"></a>
  </p>
</div>
