<% title "About" %>
<img src="/images/tickets.jpg" width="300" height="240" alt="tickets" align="right" />

<div id="content" class="left">
	<h1>About Admiteer</h1>

	<p>
		Admiteer is a 2007 <a href="http://railsrumble.com">Rails Rumble</a> project by <a href="http://6brand.com">Jack Danger Canty</a>, <a href="http://railscasts.com">Ryan Bates</a>, and <a href="http://kellishaver.com">Kelli Shaver</a>. Our goal was to build a site to allow people to sell tickets to their small events, concerts, rallys, conventions and shows. In addition to these things, Admiteer also offers some great tools for advertising and promoting your events, like a page where you can share updates, photos, contact information, and maps. You'll also find tools to help you get the word out to others about your events, thorough RSS feeds and widgets that allow real-time updates and news.
	</p>
	<h2>Some of Admiteer's Features</h2><p><ul><li>Allows ticket sales sent directly to you via Paypal</li><li>Tracks all the tickets you've bought or sold</li><li>Print off your tickets as a PDF</li><li>Parses and integrates nearly any Flickr page's photos</li><li>Provides a widget for publishing news from your event on any website</li><li>Provides a map (thanks Google) for getting directions to any event with an address</li><li>Allows you to sell free tickets and track them just like paid tickets</li><li>Offers RSS feeds for upcoming events and for individual events</li><li>No fees!</li></ul></p>
	<h2>About the Team</h2>
	<p><strong>Jack Danger Canty</strong> is a linguist and Rails developer in the Pacific Northwest.  He works for a startup based in Florida and spends most of his days writing code in the great outdoors.</p>
	<p><strong>Ryan Bates</strong> is the creator of <a href="http://railscasts.com">Railscasts</a> a repository of free Ruby on Rails screencasts, with new episodes published each week. You can also find Ryan frequently posting at <a href="http://railsforum.com">railsforum.com</a> where he volunteers as a moderator.</p>	
	<p><strong>Kelli Shaver</strong> is a designer located in Morehead, KY, where she co-owns and operates a small company that provides a variety of IT services to the community. Kelli has a degree in fine art and has been building web sites professionally for about six years.</p>
	
	<h2>A Little Help Here</h2>
	<p>Learn the ins and outs of Admiteer by watching our <a href="http://media.railscasts.com/videos/admiteer_tour.mov" target="_blank">screencast</a>.</p>
	
</div>